In [42]:
import numpy as np
import pandas as pd

In [43]:
def f(x):
    return 15*x**2 - np.exp(x)

In [44]:
def binary_search(function, high, low):
    df = pd.DataFrame(columns=["Low", "Mid", "High", "Value of f'(x)"]) # for displaying our results
    high = high
    low = low
    mid = -1 #simply initiatie the variable
    #Check initial case:
    if high > low:
        mid = (high + low)/2
        f_x =  function(mid)
        df.loc[len(df)] = [low, mid, high, round(function(mid),4)]
        while f_x != 0:
            if f_x > 0: #the condition for this variable comes from the high value. That as long as it's positive.
                high = mid
                mid = (high + low)/2
                f_x =  function(mid)
                df.loc[len(df)] = [low, mid, high, round(function(mid),4)]
                display(df)
            else:
                low = mid
                mid = (high + low)/2
                f_x =  function(mid)
                df.loc[len(df)] = [low, mid, high, round(function(mid),4)]
                display(df)
    else:
        return "'High' must be greater than the 'low' parameter"
    return mid

In [45]:
binary_search(f, 1,0)

   Low   Mid  High  Value of f'(x)
0  0.0  0.50   1.0          2.1013
1  0.0  0.25   0.5         -0.3465

    Low    Mid  High  Value of f'(x)
0  0.00  0.500   1.0          2.1013
1  0.00  0.250   0.5         -0.3465
2  0.25  0.375   0.5          0.6544

    Low     Mid   High  Value of f'(x)
0  0.00  0.5000  1.000          2.1013
1  0.00  0.2500  0.500         -0.3465
2  0.25  0.3750  0.500          0.6544
3  0.25  0.3125  0.375          0.0980

    Low      Mid    High  Value of f'(x)
0  0.00  0.50000  1.0000          2.1013
1  0.00  0.25000  0.5000         -0.3465
2  0.25  0.37500  0.5000          0.6544
3  0.25  0.31250  0.3750          0.0980
4  0.25  0.28125  0.3125         -0.1383

       Low       Mid    High  Value of f'(x)
0  0.00000  0.500000  1.0000          2.1013
1  0.00000  0.250000  0.5000         -0.3465
2  0.25000  0.375000  0.5000          0.6544
3  0.25000  0.312500  0.3750          0.0980
4  0.25000  0.281250  0.3125         -0.1383
5  0.28125  0.296875  0.3125         -0.0236

        Low       Mid    High  Value of f'(x)
0  0.000000  0.500000  1.0000          2.1013
1  0.000000  0.250000  0.5000         -0.3465
2  0.250000  0.375000  0.5000          0.6544
3  0.250000  0.312500  0.3750          0.0980
4  0.250000  0.281250  0.3125         -0.1383
5  0.281250  0.296875  0.3125         -0.0236
6  0.296875  0.304688  0.3125          0.0363

        Low       Mid      High  Value of f'(x)
0  0.000000  0.500000  1.000000          2.1013
1  0.000000  0.250000  0.500000         -0.3465
2  0.250000  0.375000  0.500000          0.6544
3  0.250000  0.312500  0.375000          0.0980
4  0.250000  0.281250  0.312500         -0.1383
5  0.281250  0.296875  0.312500         -0.0236
6  0.296875  0.304688  0.312500          0.0363
7  0.296875  0.300781  0.304688          0.0061

        Low       Mid      High  Value of f'(x)
0  0.000000  0.500000  1.000000          2.1013
1  0.000000  0.250000  0.500000         -0.3465
2  0.250000  0.375000  0.500000          0.6544
3  0.250000  0.312500  0.375000          0.0980
4  0.250000  0.281250  0.312500         -0.1383
5  0.281250  0.296875  0.312500         -0.0236
6  0.296875  0.304688  0.312500          0.0363
7  0.296875  0.300781  0.304688          0.0061
8  0.296875  0.298828  0.300781         -0.0088

        Low       Mid      High  Value of f'(x)
0  0.000000  0.500000  1.000000          2.1013
1  0.000000  0.250000  0.500000         -0.3465
2  0.250000  0.375000  0.500000          0.6544
3  0.250000  0.312500  0.375000          0.0980
4  0.250000  0.281250  0.312500         -0.1383
5  0.281250  0.296875  0.312500         -0.0236
6  0.296875  0.304688  0.312500          0.0363
7  0.296875  0.300781  0.304688          0.0061
8  0.296875  0.298828  0.300781         -0.0088
9  0.298828  0.299805  0.300781         -0.0014

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000
47  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000
47  0.299982  0.299982  0.299982         -0.0000
48  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000
47  0.299982  0.299982  0.299982         -0.0000
48  0.299982  0.299982  0.299982         -0.0000
49  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000
47  0.299982  0.299982  0.299982         -0.0000
48  0.299982  0.299982  0.299982         -0.0000
49  0.299982  0.299982  0.299982         -0.0000
50  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000
47  0.299982  0.299982  0.299982         -0.0000
48  0.299982  0.299982  0.299982         -0.0000
49  0.299982  0.299982  0.299982         -0.0000
50  0.299982  0.299982  0.299982          0.0000
51  0.299982  0.299982  0.299982          0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000
47  0.299982  0.299982  0.299982         -0.0000
48  0.299982  0.299982  0.299982         -0.0000
49  0.299982  0.299982  0.299982         -0.0000
50  0.299982  0.299982  0.299982          0.0000
51  0.299982  0.299982  0.299982          0.0000
52  0.299982  0.299982  0.299982         -0.0000

         Low       Mid      High  Value of f'(x)
0   0.000000  0.500000  1.000000          2.1013
1   0.000000  0.250000  0.500000         -0.3465
2   0.250000  0.375000  0.500000          0.6544
3   0.250000  0.312500  0.375000          0.0980
4   0.250000  0.281250  0.312500         -0.1383
5   0.281250  0.296875  0.312500         -0.0236
6   0.296875  0.304688  0.312500          0.0363
7   0.296875  0.300781  0.304688          0.0061
8   0.296875  0.298828  0.300781         -0.0088
9   0.298828  0.299805  0.300781         -0.0014
10  0.299805  0.300293  0.300781          0.0024
11  0.299805  0.300049  0.300293          0.0005
12  0.299805  0.299927  0.300049         -0.0004
13  0.299927  0.299988  0.300049          0.0000
14  0.299927  0.299957  0.299988         -0.0002
15  0.299957  0.299973  0.299988         -0.0001
16  0.299973  0.299980  0.299988         -0.0000
17  0.299980  0.299984  0.299988          0.0000
18  0.299980  0.299982  0.299984          0.0000
19  0.299980  0.299981  0.299982         -0.0000
20  0.299981  0.299982  0.299982          0.0000
21  0.299981  0.299981  0.299982         -0.0000
22  0.299981  0.299981  0.299982         -0.0000
23  0.299981  0.299982  0.299982         -0.0000
24  0.299982  0.299982  0.299982          0.0000
25  0.299982  0.299982  0.299982          0.0000
26  0.299982  0.299982  0.299982         -0.0000
27  0.299982  0.299982  0.299982          0.0000
28  0.299982  0.299982  0.299982          0.0000
29  0.299982  0.299982  0.299982         -0.0000
30  0.299982  0.299982  0.299982          0.0000
31  0.299982  0.299982  0.299982         -0.0000
32  0.299982  0.299982  0.299982          0.0000
33  0.299982  0.299982  0.299982         -0.0000
34  0.299982  0.299982  0.299982          0.0000
35  0.299982  0.299982  0.299982         -0.0000
36  0.299982  0.299982  0.299982         -0.0000
37  0.299982  0.299982  0.299982          0.0000
38  0.299982  0.299982  0.299982          0.0000
39  0.299982  0.299982  0.299982         -0.0000
40  0.299982  0.299982  0.299982          0.0000
41  0.299982  0.299982  0.299982          0.0000
42  0.299982  0.299982  0.299982          0.0000
43  0.299982  0.299982  0.299982          0.0000
44  0.299982  0.299982  0.299982          0.0000
45  0.299982  0.299982  0.299982          0.0000
46  0.299982  0.299982  0.299982         -0.0000
47  0.299982  0.299982  0.299982         -0.0000
48  0.299982  0.299982  0.299982         -0.0000
49  0.299982  0.299982  0.299982         -0.0000
50  0.299982  0.299982  0.299982          0.0000
51  0.299982  0.299982  0.299982          0.0000
52  0.299982  0.299982  0.299982         -0.0000
53  0.299982  0.299982  0.299982          0.0000

0.2999815431767409

In [38]:
f(0.2999815431767409)

0.0